<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% load static %}
    <link rel="stylesheet" href={% static "Home/css/base.css" %}>
    {% block css_content %}
    {% endblock %}
</head>
<body>
    {% block authentication %}
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'Home:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'Home:login' %}">Login</a>
        {% endif %}
    </div>
    {% endblock %}

    {% block body_header %}
    {% endblock %}
    {% block body_content %}
    {% endblock %}
</body>

</html>
