<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'Home/css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'Home/css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'Home/css/header.css' %}"/>
    {% block css_content %}
    {% endblock %}
</head>
<body>
    {% block authentication %}
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'Home:logout' %}">Logout</a>
        {% endif %}
    </div>
    {% endblock %}

    {% block body_header %}
    <header>
        <nav>
            <ul id="nav">
                <li id="nav-index">
                    <a href="{% url 'Home:index' %}">EDER'S</a>
                </li>
                <li id="nav-posts">
                    <a href="{% url 'Home:index' %}">POSTS</a>
                </li>
                <li id="nav-events">
                    <a href="{% url 'Home:index' %}">EVENTS</a>
                </li>
                <li id="nav-about">
                    <a href="{% url 'Home:about' %}">ABOUT</a>
                </li>
                <li id="nav-contact">
                    <a href="{% url 'Home:index' %}">CONTACT</a>
                </li>
            </ul>
        </nav>
    </header>
    {% if notification_message %}
    <div id="notifications" class="notification-{{notification_type}}">
        {{ notification_message }}
    </div>
    {% endif %}
    {% endblock %}

    <div id="body-content">
    {% block body_content %}
    {% endblock %}
    </div>
</body>

</html>
