{% extends "Home/base.html" %}

{% load static %}

{% block css_content %}
{% endblock %}

{% block authentication %}
{% endblock %}

{% block body_content %}

<div id="login" class="center">
    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_ul }} -->
        <label>Email</label>
        <input type="email" name="email" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="Login">
    </form>

</div>

{% endblock %}
